<% if flash[:notice] %>
Book was successfully updated.
<% end %>

<table>

  <tr><th><h5>Title:</h5></th>
      <td><p><%= @book.title %></p></td>
  </tr>

  <tr><th><h5>Body:</h5></th>
      <td><p><%= @book.body %></p></td>
  </tr>

  <th><%= link_to "Edit", edit_book_path(@book.id) %>
      |
      <%= link_to "Back", '/books' %>
  </th>

</table>
